<%- include("Partials/header") -%>

<div class="container-fluid">
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control"  placeholder="Title" autocomplete="off" name="postTitle">
            <label>Post</label>
            <textarea name="postBody" placeholder="Write here..." autocomplete="off" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit">Publish</button>
    </form>
</div>

<%- include("Partials/footer") -%>